.task-input {
    border: 1px solid var(--green-border);
    color: var(--timer-buttons-text-color);
    width: 50%;
    border-radius: 20px;
    padding: 10px;
    background-color: var(--input-bg);
    box-shadow: 0px 5px 20px -8px var(--green-shadow);
    font-size: 18px;
    transition-property: color, background-color, box-shadow;
    transition-duration: 300ms;
}

.task-form {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.submit-button {
    display: block;
    border: 2px solid var(--green-border);
    color: var(--timer-buttons-text-color);
    border-radius: 20px;
    padding: 10px 15px;
    background-color: var(--button-bg) !important;
    box-shadow: 0px 5px 20px -8px var(--green-shadow) !important;
    font-size: 14px;
    transition-property: color, background-color, box-shadow, transform, opacity;
    transition-duration: 150ms;
}

.submit-button:hover:not(.submit-button__disabled) {
    transform: scale(0.9);
}

.submit-button:active:not(.submit-button__disabled) {
    transform: scale(0.8);
}

.submit-button__disabled {
    /* color: var(--grey-text); */
    opacity: 0.8;
    border: 2px solid var(--pale-green-border);
    cursor: not-allowed !important;
}

@media (max-width: 768px) {
    .task-input {
        font-size: 14px;
    }
}

@media (max-width: 425px) {
    .task-input {
        font-size: 14px;
    }

    .task-form {
        flex-direction: column;
        align-items: center;
    }

    .task-input {
        width: 200px;
    }
}